* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        height: 100vh;
        justify-items: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #33ac97;
        font-family: "Kanit", sans-serif;
        font-style: normal;
        color:#ECEDF0 ;
      }

      section {
        display:  flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 4rem;
      }

      button {
        background-color: #1F6FB0;
        padding: 1rem 2rem;
        border: none;
        border-radius: .5rem;
        transition: all 1s ease; 
      }
      button:hover {
          transform: scale(1.1); 
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
      color: white
      }

      div {
        display: flex;
        flex-direction: row;
        gap: 2rem;
      }

      .author-info {
        font-size: 14px;
        text-align: center;
        margin-top: 16px;
        color: rgb(55, 65, 81);
      }

      .author-info a {
        text-decoration: none;
      }




       @media (max-width: 480px){

        .author-info {
          flex-direction: column;
          line-height: 5px;
          margin-top: 5rem;
          
        }
       }